In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv('test.csv')

In [11]:
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode())
df = df.drop('Cabin', axis=1)

print(df)
print(df.isnull().sum())

     PassengerId  Pclass                                          Name  \
0            892       3                              Kelly, Mr. James
1            893       3              Wilkes, Mrs. James (Ellen Needs)
2            894       2                     Myles, Mr. Thomas Francis
3            895       3                              Wirz, Mr. Albert
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..           ...     ...                                           ...
413         1305       3                            Spector, Mr. Woolf
414         1306       1                  Oliva y Ocana, Dona. Fermina
415         1307       3                  Saether, Mr. Simon Sivertsen
416         1308       3                           Ware, Mr. Frederick
417         1309       3                      Peter, Master. Michael J

        Sex       Age  SibSp  Parch              Ticket      Fare Embarked
0      male  34.50000      0      0              330911    7.8292        Q
1    female  47.00000      1      0              363272    7.0000        S
2      male  62.00000      0      0              240276    9.6875        Q
3      male  27.00000      0      0              315154    8.6625        S
4    female  22.00000      1      1             3101298   12.2875        S
..      ...       ...    ...    ...                 ...       ...      ...
413    male  30.27259      0      0           A.5. 3236    8.0500        S
414  female  39.00000      0      0            PC 17758  108.9000        C
415    male  38.50000      0      0  SOTON/O.Q. 3101262    7.2500        S
416    male  30.27259      0      0              359309    8.0500        S
417    male  30.27259      1      1                2668   22.3583        C

[418 rows x 10 columns]
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           1
Embarked       0
dtype: int64